.form-control {
    border: 1px solid black !important;
}

.form-select {
    border: 1px solid black !important;
}
.navbar {
    background-color: #1e6a99 !important;
    color: white !important;
}
 